CLIENT_GATEWAY_PORT=


PAYMENTS_MS_PORT=

#https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=

#https://dashboard.stripe.com/test/webhooks/we_1Q3k10JWeOYJZIaCvE9Oxx6a
#este es el signing secret del webhook
STRIPE_ENDPOINT_SECRET=