[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Proyect-Nest-Microservices/client-gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Proyect-Nest-Microservices/orders-microservice.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Proyect-Nest-Microservices/products-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/Proyect-Nest-Microservices/payments-microservice.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Proyect-Nest-Microservices/auth-ms.git
